In [3]:
import pandas as pd

In [4]:
# Open the excel file as an object
xlsfile = pd.ExcelFile('Import_Excel.xlsx')

In [5]:
# Parse the first sheet of the excel file and set as DataFrame
dframe = xlsfile.parse('Sheet1')

In [6]:
#Show!
dframe

   This is a test  Unnamed: 1  Unnamed: 2
0              12        6878         456
1             234         678         456
2             234           7         345
3              34          56         234
4               5         456        4365