In [2]:
#Permutation

import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
# We can randomly reorder (permutate) a Series, or the rows in a DataFrame

#Let's take a look
dframe = DataFrame(np.arange(4 * 4).reshape((4, 4)))

#Create an array with a random perumation of 0,1,2,3
blender = np.random.permutation(4)

blender

array([3, 0, 1, 2])

In [5]:
#Add it in a Data frame
dframe

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [6]:
# Now permutate the dframe based on the blender
dframe.take(blender)

    0   1   2   3
3  12  13  14  15
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11

In [7]:
# Now what if we want permuations WITH replacement

In [8]:
# Let imagine a box with 3 marbles in it: labeled 1, 2, and 3
box = np.array([1,2,3])

# Now lets create a random permuation WITH replacement using randint
shaker = np.random.randint(0, len(box), size=10)

In [9]:
# Let's check teh box "shaker"
shaker

array([0, 1, 2, 0, 0, 2, 1, 0, 2, 2])

In [10]:
#Now lets grab form the box
hand_grabs = box.take(shaker)

#show
hand_grabs

array([1, 2, 3, 1, 1, 3, 2, 1, 3, 3])

Next up Data Visualization - 
1.	Group by on Data Frames
2.	Group by on Dictionary and Series
3.	Aggregation
4.	Splitting Applying and Combining
5.	Cross Tabulation